<div style="
    background: #eee;font-size: 12px;
    width: 100%;
        text-align: center;

    padding: 5px; ">© 2021 <a style="text-decoration: none; color: #222" href="https://itanet.com.br" target="_blank">itanet.com.br</a></div>
