<div style="height: 70px;
    width: 100%;
    background-color: #0052a8;
   ">
  <img src="https://www.itanetbandalarga.com.br/img/logo-itanet.png" style="width: 120px;
    margin-left: 20px;margin-top: 2%;" alt="">
</div>
